@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #28a745;
	--grayLight: rgba(0, 0, 0, 0.12);
	--grayDark: #282828;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-yekan-bakh), Arial, Helvetica, sans-serif;
	@apply text-base;
}

/* @layer utilities {
	.text-balance {
		text-wrap: balance;
	}
} */

.container {
	@apply mx-auto;
	@apply px-4;
}

.theme-white-box {
	@apply bg-white border border-grayLight rounded-xl;
}

.theme-button {
	@apply h-14 rounded-lg bg-primary text-white text-2xl px-2;
}

.theme-error {
	@apply text-red-500 absolute start-1 bottom-[-24px] text-[13px];
}

